body{
font-family:Arial;
margin:0;
}

header{
background:#003366;
color:white;
padding:15px;
}

#menuBtn{
font-size:24px;
}

#menu{
display:none;
background:#f4f4f4;
padding:10px;
}

#menu a{
display:block;
padding:10px;
text-decoration:none;
}

input{
width:90%;
padding:10px;
}

button{
padding:10px;
}
